body{
    font-family:cursive;
    text-align: center;
    background-color: lightcoral;

}

#container{


}

#button{
    background: #dddada;
    color: 000000;
    padding: 3px;
    text-align: center;
    width: 80px;
    cursor: pointer;
    border: 2px solid brown;
    font-family: sans-serif;
}


#button:hover{
    background-color: brown;
    color: white;
    padding: 3px;
    text-align: center;
    width: 80px;
    cursor: pointer;
    border: 1px solid brown;


