body{
    background-color: antiquewhite;
    text-align: center;
}



#Ball {
    position:absolute;
    left:70px;
    top:70px;
}
#whitecircle {
    position:absolute;
    border-style: solid;
    border: 3px;
    border-radius:50px;
    width:100px;
    height:100px;
    background-color:blue;
    left:630px;
    top:200px;

}
#blackcircle {
    left:580px;
    top: 150px;
    position:absolute;
    border-style: solid;
    border: 3px;
    border-radius:100px;
    width:200px;
    height:200px;
    background-color:black;
}
#eight {
    position:absolute;
    left:665px;
    top:215px;
    font-size:350%;
    color: white;
}
#click {
    position:absolute;
    left:70px;
    top:70px;
    font-size:250%;
}
