body{
    background-color: bisque;

}

input{
    width: 250px;
}

#Ball {
    position:absolute;
    left:70px;
    top:70px;
}

#blackcircle {
    left:10px;
    top: 130px;
    position:absolute;
    border-style: solid;
    border: 3px;
    border-radius:100px;
    width:200px;
    height:200px;
    background-color:black;
    border: solid;
    border-color: white;
}
#bluecircle {
    position:absolute;
    border-style: solid;
    border: 3px;
    border-radius:50px;
    width:100px;
    height:100px;
    background-color:blue;
    left:60px;
    top:185px;
    border: solid;
    border-color: white;

}

#eight {
    position:absolute;
    left:95px;
    top:200px;
    font-size:350%;
    color: aliceblue;
}
