body{
    text-align: center;
    font-family: fantasy;
    background-color: brown;
}

#container{
    background-color: antiquewhite;

}

#input{
    background: white;
    color: 000000;
    padding: 3px;
    text-align: center;
    width: 150px;
    border: 2px solid brown;
}

#add , #remove{
    background: #dddada;
    color: 000000;
    padding: 3px;
    text-align: center;
    width: 80px;
    cursor: pointer;
    border: 2px solid brown;
}


#add:hover , #remove:hover{
    background: brown;
    color: white;
    padding: 3px;
    text-align: center;
    width: 80px;
    cursor: pointer;
    border: 1px solid brown;
}

#message{
   font-family:sans-serif;
}
