body {
    background-color: darksalmon;
}
h1{
    font-family: fantasy;
    font-size: 50px;
    color: darkgreen;
    border: dashed;
    border-color: bisque;
    
}
label{
    color: darkgreen;
    
   
}

button{
    color: darkgreen;
}

body{
    text-align: center;
}