body {
    text-align: center;
    background-color: brown;

}

h1, h2{
    color: brown;
    font-family:monospace;
}

#container{
    border: dashed;
    border-width: 5px;
    background-color: blanchedalmond;
}



#final1, #final2 , #final3 {
    background: #dddada;
    color: 000000;
    padding: 3px;
    text-align: center;
    width: 150px;
    cursor: pointer;
    border: 1px solid brown;
}

#final1:hover , #final2:hover , #final3:hover {
    background: brown;
    color: white;
    padding: 3px;
    text-align: center;
    width: 150px;
    cursor: pointer;
    border: 1px solid brown;
}
